.Bar {
	margin: 0;
}

.module {
	padding: 1rem 0.5rem;
	font-family: 'Maple Mono NF', monospace;
	background-color: #26233a;
	margin-right: 8px;
	border-radius: 0.5rem;
	padding-bottom: 0.3rem;

}

.normal-button {
	padding: 0.5rem 1rem;
	margin: 0.25rem;
	margin-bottom: 0;
	font-size: 0.9rem;
	background: #575279;
	border-radius: 0rem;
	color: rgba(255, 255, 255, 0.7);
	border: 0;
	border-radius: 0.2rem;
}

.button {
	padding: 1.5rem 1rem;
	min-width: 5rem;
	margin: 0.5rem;
	margin-bottom: 0;
	font-size: 1.6rem;
	background: #575279;
	border-radius: 0rem;
	color: rgba(255, 255, 255, 0.7);
	border: 0;
	border-radius: 0.2rem;
}
.button{
  min-width:6rem;
}

.button-w-ra {
	margin-right: 0rem;
	padding:1.5rem 1rem;
	min-width:4rem;
}

.button-label {
	font-size: 0.8rem;
	margin-top: 0.5rem;
	color: rgba(255, 255, 255, 0.7);
}

.button.active,.normal-button.active,.right-arrow.active{
	/* background: #eb6f92; */
  background:#bbaffa;
	color: rgba(0, 0, 0, 0.5);
}

.info-section {
	padding: 1rem;
	background-color: #1f1d2b;
	color: rgba(255, 255, 255, 0.7);
	font-size: 0.9rem;
}

trough {
	background-color: #6e6a86;
	border-radius: 0px;
}

highlight {
	/* background-color: #eb6f92; */
  background:#bbaffa;
}

slider {
	background-color: #e0def4;
	border-radius: 2px;
	min-width: 0.2rem;
}

.slider-label {
	font-size: 1rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	color: rgba(255, 255, 255, 0.7);
}

.slider-container {
	padding: 1rem;
}

.right-arrow {
	color: white;
	background-color: #575279;
	border-radius: 0.2rem;
	padding:1.5rem 0.5rem;
	/* margin-bottom: 1.8rem; */
	margin-left: 0.2rem;
	margin-top: 0.5rem;
	font-size: 1.26rem;
	margin-right: 0.5rem;
}

.wifi-item {
	padding: 1rem 1rem;
}
